<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="volver()"></button>
    <h1 class="title">Cambiar Contraseña</h1>
</ion-header-bar>
<ion-content>
    <form name="formConductor">
        <div class="list list-inset">
            <label class="item item-input input-bottom">
                <i class="icon ion-key placeholder-icon"></i>
                &nbsp;
                <span class="input-label">Contraseña actual:</span>
                <input type="password" name="contrasena" ng-model="contrasena.actual" ng-required="true">
            </label>
            <label class="item item-input input-bottom">
                <i class="icon ion-key placeholder-icon"></i>
                &nbsp;
                <span class="input-label">Nueva contraseña:</span>
                <input type="password" name="contrasena" ng-model="contrasena.nueva" ng-required="true">
            </label>
            <label class="item item-input input-bottom">
                <i class="icon ion-key placeholder-icon"></i>
                &nbsp;
                <span class="input-label">Confirmar Contraseña:</span>
                <input type="password" name="confirmarContrasena" ng-model="contrasena.confirmarContrasena" ng-required="true">
            </label>        
            <button 
                    class="button button-block button-positive" 
                    ng-click="cambiarContrasena()" ng-disabled="formConductor.$invalid">Cambiar contraseña
            </button>
            <span class="text-center positive" ng-show="mostrarAdvertencia">Las contraseñas no coinciden</span>
        </div>
    </form>
</ion-content>