<ion-view view-title="Configuración">
    <ion-content>
        <ion-list>
            <ion-item menu-close ui-sref="cambiar-contrasena">
                <i class="icon ion-key"></i>
                Cambiar Contraseña
            </ion-item>
            <ion-item menu-close ui-sref="pagos-realizados">
                <i class="icon ion-social-usd"></i>
                Pagos Realizados
            </ion-item>
            <ion-item menu-close ui-sref="imagen-conductor">
                <i class="icon ion-person"></i>
                Subir imagen conductor
            </ion-item>
            <ion-item menu-close ui-sref="imagen-vehiculo">
                <i class="icon ion-android-car"></i>
                Subir imagen vehículo
            </ion-item>
            </ion-list>
    </ion-content>
</ion-view>