<ion-view view-title="Documentos del Vehículo">
    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="documentos.soat">SOAT</ion-checkbox>
            <div ng-show="documentos.soat" class="list list-inset">
                <label class="item item-input item-stacked-label input-bottom">
                    <span>Fecha de Vencimiento</span>
                    <input value="2012-10-02" type="date" name="fechaNacimiento" ng-model="documentos.fecha_soat" formatDate>
                </label>
            </div>
            <ion-checkbox ng-model="documentos.tecnomecanica">Tecnomecánica</ion-checkbox>
            <div ng-show="documentos.tecnomecanica" class="list list-inset">
                <label class="item item-input item-stacked-label input-bottom">
                    <span>Fecha de Vencimiento</span>
                    <input type="date" name="fechaNacimiento" ng-model="documentos.fecha_tecnomecanica" formatDate>
                </label>
            </div>
            <ion-checkbox ng-model="documentos.tarjeta_propiedad">Targeta de propiedad</ion-checkbox>
        </ion-list>
        <div class="list list-inset">
            <button class="button button-block button-positive" 
                ng-click="registarActualizarDocumentacion()">Registrar
            </button>
        </div>
    </ion-content>
</ion-view>
