<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="volver()"></button>
    <h1 class="title">Imagen Vehículo</h1>
    <button class="button button-icon icon ion-ios-cloud-upload" ng-click="enviarImagenVehiculo()"></button>
</ion-header-bar>
<ion-content>
    <div class="center">
        <img  ng-src="{{collection.selectedImage}}" style="width:90%; height: 100%;margin-top:20%;"/>
    </div>
</ion-content>
<ion-footer-bar class="bar-light item-input-inset center-text">
    <button class="button button-full" ng-class="classButton" ng-click="getImageVehiculo()">Cargar Imagen</button>
</ion-footer-bar>