<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="volver()"></button>
    <h1 class="title">Encomiendas</h1>
</ion-header-bar>
<ion-content>
    <div class="list">
        <div class="item item-avatar" ng-repeat="encomienda in listaEncomiendas">
            <img ng-src="img/ionic.png">
            <h2>Remitente: {{encomienda.nombres}}</h2>
            <p>Receptor: {{encomienda.nombre_receptor}}</p>
            <p>Dirección destino: {{encomienda.direccionD}}</p>
            <p>Telefono remitente: {{encomienda.telefono}}</p>
            <p>Telefono receptor: {{encomienda.telefono_receptor}}</p>
        </div>
    </div>
    <div ng-show="!mostrarAdvertencia" class="text-center">
        <strong class="positive text-center">El conductor no registra encomiendas pendientes</strong>
    </div>
</ion-content>
<ion-footer-bar class="bar-assertive">
    <div class="row" ng-controller="HomeCtrl">
         <div class="col text-center">
             <div class="buttons">
                 <button class="button button-icon icon ion-person" ng-click="opcionMenu('Pasajeros')"></button>
             </div>
        </div>
         <div class="col text-center">
             <div class="buttons">
                 <button class="button button-icon icon ion-email" ng-click="opcionMenu('Encomiendas')"></button>
             </div>
        </div>
         <div class="col text-center">
             <div class="buttons">
                 <button class="button button-icon icon ion-social-usd" ng-click="opcionMenu('Giros')"></button>
             </div>
        </div>
     </div>
</ion-footer-bar>