<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="volver()"></button>
    <h1 class="title">Pasajeros</h1>
    <div class="buttons">
        <button class="button" ng-click="recogerPasajeros()">Recoger Pasajeros</button>
    </div>
</ion-header-bar>
<ion-content>
    <div id="container" class="list list-inset">
        <div ng-show="mostrarAdvertencia" class="center" style="margin-top:20%;">
            <img ng-src="img/logo.png" style="width:250px;heigth:250px;">
            <p class="positive" style="font-size:180%;font-weight: bold;font-style: oblique;">El conductor no registra pasajeros pendientes</p>
        </div>
        <div id="rounded" class="item item-avatar" ng-repeat="pasajero in listaPasajeros" style="background:#F2F2F2;margin-bottom:10px;">
            <img ng-src="img/logo.png">
            <h2><strong>{{pasajero.nombres}}</strong></h2>
            <p>{{pasajero.direccion}}</p>
            <p>{{pasajero.telefono}}</p>
        </div>
    </div>
</ion-content>
<ion-footer-bar class="bar-assertive">
    <div class="row" ng-controller="HomeCtrl">
         <div class="col text-center">
             <div class="buttons">
                 <button class="button button-icon icon ion-person" ng-click="opcionMenu('Pasajeros')"></button>
             </div>
        </div>
         <div class="col text-center">
             <div class="buttons">
                 <button class="button button-icon icon ion-email" ng-click="opcionMenu('Encomiendas')"></button>
             </div>
        </div>
         <div class="col text-center">
             <div class="buttons">
                 <button class="button button-icon icon ion-social-usd" ng-click="opcionMenu('Giros')"></button>
             </div>
        </div>
     </div>
</ion-footer-bar>