<ion-view view-title="Registrar Vehiculo">
    <ion-content>
        <form name="formVehiculo">
          <div id = "container" class="list list-inset">
                <label><p style="margin-bottom:0px;margin-left:10px;font-size:115%;font-weight: bold;">Placa</p></label>
                <label id = "rounded" class="item item-input">
                    <i class="icon ion-card placeholder-icon" style="font-size: 25px;color:#a20002;"></i>
                    &nbsp;
                    <input type="text" name="placa"  ng-model="vehiculo.placa" ng-required="true">
                </label>
                <label><p style="margin-top:7px;margin-bottom:0px;margin-left:10px;font-size:115%;font-weight: bold;">Modelo</p></label>
                <label id = "rounded" class="item item-input">
                    <i class="icon ion-android-car placeholder-icon" style="font-size: 25px;color:#a20002;"></i>
                    &nbsp;
                    <input type="text" name="modelo" ng-model="vehiculo.modelo" ng-required="true">
                </label>
                <label><p style="margin-top:7px;margin-bottom:0px;margin-left:10px;font-size:115%;font-weight: bold;">Color</p></label>
                <label id = "rounded" class="item item-input">
                    <i class="icon ion-android-color-palette placeholder-icon" style="font-size: 25px;color:#a20002;"></i>
                    &nbsp;
                    <input type="text" name="color" ng-model="vehiculo.color" ng-required="true">
                </label>
                <label><p style="margin-top:7px;margin-bottom:0px;margin-left:10px;font-size:115%;font-weight: bold;">Cupos</p></label>
                <label id = "rounded" class="item item-input">
                    <i class="icon ion-ios-people placeholder-icon" style="font-size: 25px;color:#a20002;"></i>
                    &nbsp;
                    <input type="text" name="cupo" ng-model="vehiculo.cupos" ng-required="true">
                </label>
                <button
                    class="button button-block button-positive"
                    ng-click="registarActualizar()" ng-disabled="formVehiculo.$invalid">Registrar
                </button>
            </div>
        </form>        
    </ion-content>
</ion-view>
