<ion-view view-title="Reportar Ausencia">
    <ion-content>
        <form name="formConductor">
            <div class="list list-inset">
                <label class="item item-input item-select item-light">
                    <div class="input-label">Tipo de Incidencia</div>
                    <select ng-model="incidencia.tipo" name="incidencia" ng-required="true">
                        <option value="Ausencia">Ausencia</option>
                        <option value="Accidente">Accidente</option>
                    </select> 
                </label>
                <div class="input-label">Tipo de Incidencia</div>
                <label class="item item-input item-light">
                    <textarea ng-model="incidencia.descripcion" name="Text1" cols="40" rows="5"></textarea>
                </label>
                <button class="button button-block button-positive" ng-click="registarIncidencia()" 
                ng-disabled="formLogin.$invalid">Reportar Incidencia
                </button>
            </div>
    </form>
    </ion-content>
</ion-view>