<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="volver()"></button>
    <h1 class="title">Ubicación Pasajeros</h1>
</ion-header-bar>
<ion-content>
    <div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onClick">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>

    <div ng-controller="TimerCtrl"></div>
</ion-content>