<ion-view view-title="Inicio">
    <ion-content>
        <div ng-show="orientacionVertical">
            <div class="row ">
                <div class="col col-50 borde-color">
                    <div class="card padding-notificacion" ng-click="opcionMenu('Pasajeros')">
                        <span class="badge badge-assertive notificacion">0</span>
                        <div class="item item-text-wrap center">
                            <i class="icon ion-person icon-size"></i>
                            <h2 class="padding-button">Pasajeros</h2>
                        </div>
                    </div>
                </div>
                <!--<div class="col col-50 padding-notificacion">-->
                    <!--<div class="card" ng-click="opcionMenu('Encomiendas')">-->
                        <!--<span class="badge badge-assertive notificacion">0</span>-->
                        <!--<div class="item item-text-wrap center">-->
                            <!--<i class="icon ion-email icon-size"></i>-->
                            <!--<h2 class="padding-button">Encomiendas</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="row">
                <!--<div class="col col-50 padding-notificacion">-->
                    <!--<div class="card" ng-click="opcionMenu('Giros')">-->
                        <!--<span class="badge badge-assertive notificacion">0</span>-->
                        <!--<div class="item item-text-wrap center">-->
                            <!--<i class="icon ion-social-usd icon-size"></i>-->
                            <!--<h2 class="padding-button">Giros</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col col-50 padding-notificacion">-->
                    <!--<div class="card" ng-click="opcionMenu('Nueva Solicitud')">-->
                        <!--<span class="badge badge-assertive notificacion">0</span>-->
                        <!--<div class="item item-text-wrap center">-->
                            <!--<i class="icon ion-compose icon-size"></i>-->
                            <!--<h2 class="padding-button">Nueva Solicitud</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div ng-show="orientacionHorizontal">
            <div class="row ">
                <div class="col col-25 borde-color">
                    <div class="card padding-notificacion" ng-click="opcionMenu('Pasajeros')">
                        <span class="badge badge-assertive notificacion">0</span>
                        <div class="item item-text-wrap center">
                            <i class="icon ion-person icon-size"></i>
                            <h2 class="padding-button">Pasajeros</h2>
                        </div>
                    </div>
                </div>
                <!--<div class="col col-25 padding-notificacion">-->
                    <!--<div class="card" ng-click="opcionMenu('Encomiendas')">-->
                        <!--<span class="badge badge-assertive notificacion">0</span>-->
                        <!--<div class="item item-text-wrap center">-->
                            <!--<i class="icon ion-email icon-size"></i>-->
                            <!--<h3 class="padding-button">Encomiendas</h3>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col col-25 padding-notificacion">-->
                    <!--<div class="card" ng-click="opcionMenu('Giros')">-->
                        <!--<span class="badge badge-assertive notificacion">0</span>-->
                        <!--<div class="item item-text-wrap center">-->
                            <!--<i class="icon ion-social-usd icon-size"></i>-->
                            <!--<h2 class="padding-button">Giros</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col col-25 padding-notificacion">-->
                    <!--<div class="card" ng-click="opcionMenu('Nueva Solicitud')">-->
                        <!--<span class="badge badge-assertive notificacion">0</span>-->
                        <!--<div class="item item-text-wrap center">-->
                            <!--<i class="icon ion-compose icon-size"></i>-->
                            <!--<h4 class="padding-button">Nueva Solicitud</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-light item-input-inset center-text">
    <button class="button button-full" ng-class="classButton" ng-click="cambiarEstado()">{{estado}}</button>
</ion-footer-bar>